<div class="landing-index">
  <div class="row facebook">
    <img src='assets/images/dance-background.jpg' class="header-background">
    <div class='header-foreground'>
      {{#if auth.user}}
        <h1>Welcome {{auth.user.name}}</h1>
        <h2>Search for upcoming events!</h2>
        <a href="users/sign_out"><button class="zocial facebook">Logout of Danceframe</button></a>
      {{else}}
        <h2>Log in with Facebook!</h2>
        <a href="users/auth/facebook"><button class="zocial facebook">Login with Facebook</button></a>
      {{/if}}
    </div>
  </div>
  <div class="row primary featured">
    <div class="col-sm-8">
      <h2> Featured Event - {{model.name}} </h2>
      <p>
      We here at DanceFrame feel that MadJam really embodies everything we love about West Coast Swing.
      Top instructors, great pros, incredible social dancing, everything you could ever want at a competition!
      Sign up now for MadJam 2017! (link to event page)
      </p>
    </div>
    <div class="col-sm-4 img-frame">
      <span class="center-helper"></span>
      <img src={{model.cover.source}} alt="{{model.name}}">
    </div>
  </div>
  <div class="row faq">
    <h3 class="question">
      What is DanceFrame?
    </h3>
    <p class="answer">
      We will all know in time.
    </p>
  </div>
</div>
